body {
	font-family: "Arial", Times, serif;
    padding: 0;
    margin: 0;
}
html, body, .map{
    height: 100%;
    width: 100%; 
}

.titlebar {
  background-color: lightblue;
}

.title {	
	font-style: bold;
	font-size: 3em;
}
.buttons {
	float: right;
	padding: 12px 30px;
	margin: 1px 1px;
	font-size: 20px;
}

.export {
	padding: 5px 5px;
	margin: 1px 1px;
	font-size: 1em;
}

.buttons, .export{	
	  background-color: DodgerBlue;
	  border: none;
	  color: white;
	  cursor: pointer;
}

/* Darker background on mouse-over */
.buttons:hover, .export:hover{
  background-color: RoyalBlue;
}

.center{
	display: flex; 
	justify-content: center; 
}
